/** @format */
* {
    padding: 0px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
}
@font-face {
    font-family: "raleway";
    src: url(./Raleway-VariableFont_wght.ttf);
}
html,
body {
    height: 100%;
    width: 100%;
}
html {
    font-size: 10px;
}
.d_none {
    display: none !important;
}
#dimming {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
}
body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    padding: 0rem 6rem;
    background-color: #082029;
    min-height: 12rem;

    .headerimage {
        height: 6rem;
        width: auto;
    }
}
#main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 6rem 12rem;
    background-color: #05171e;
    color: white;

    h1 {
        font-family: raleway;
        font-size: 5.4rem;
        margin-bottom: 4rem;
    }
    #template_container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
    .mainimage {
        width: 20rem;
        height: 20rem;
        border-radius: 1.5rem;
        object-fit: cover;
    }
    .mainimage:hover {
        filter: drop-shadow(0rem 0rem 0.8rem #29718d);
    }
    a {
        display: flex;
        width: 20rem;
        height: 20rem;
        border-radius: 1.5rem;
    }
}
#teplateimage {
    display: flex;
    z-index: 100;
    justify-content: center;
    position: absolute;
    position: fixed; /* fixiert das ding damit es immer dort bleibt wo es ist  ohne wuerde es verschwinden wenn man runterscrollt */
    top: 9%;
    left: 50%;
}
#popupimage {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #05171ef5;
    width: 60rem;
    height: 75rem;
    padding: 3rem 3rem;
    border-radius: 2rem;
    border: solid 0.6rem rgb(64, 0, 255);

    .child1 {
        display: flex;
        justify-content: center;
        font-size: 3.4rem;
    }
    .child2 {
        display: flex;
        justify-content: center;
    }
    .child2image {
        width: 45rem;
        height: 45rem;
        border-radius: 1.5rem;
        object-fit: cover;
    }

    .child3 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 2rem;
    }
    span {
        text-align: center;
        font-size: 3.4rem;
    }
    .leftright {
        width: 6rem;
        height: 6rem;
    }
    .leftright:hover {
        filter: drop-shadow(0rem 0rem 0.8rem #ff0000);
    }
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 6rem;
    background-color: #082029;
    min-height: 16rem;
    img {
        height: 4rem;
        width: auto;
        border-radius: 50px;
    }

    .icons {
        display: flex;
        gap: 1.6rem;
        a {
            display: flex;
            border-radius: 50px;
            height: 4rem;
            width: 4rem;
        }
    }
}
@media (max-width: 915px) {
    #main {
        padding: 3rem 6rem;
        h1 {
            font-size: 4.6rem;
        }
    }
}
@media (max-width: 696px) {
    header {
        min-height: 8rem;
        img {
            height: 4rem;
        }
    }
    #main {
        h1 {
            font-size: 3.6rem;
        }
    }
    footer {
        min-height: 12rem;
        img {
            height: 4rem;
        }
    }
}
@media (max-width: 585px) {
    #main {
        padding: 3rem;
        h1 {
            font-size: 2.6rem;
        }
    }
}
@media (max-width: 492px) {
    #main {
        padding: 3rem 1.6rem;
        #template_container {
            gap: 2rem;
            img {
                width: 25rem;
                height: 25rem;
            }
            a {
                width: 25rem;
                height: 25rem;
            }
        }
    }
    #popupimage {
        width: 30rem;
        height: 45rem;
        .child2image {
            width: 25rem;
            height: 25rem;
        }
    }
    footer {
        padding: 1.6rem;
    }
}
@media (max-width: 400px) {
    #main {
        h1 {
            font-size: 2.2rem;
            margin-bottom: 3rem;
        }
    }
}
@media (max-width: 370px) {
    #main {
        #template_container {
            gap: 2rem;
            img {
                width: 20rem;
                height: 20rem;
            }
            a {
                width: 20rem;
                height: 20rem;
            }
        }
    }
}
