/** @format */
* {
    padding: 0px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
}
@font-face {
    font-family: "raleway";
    src: url(./Raleway-VariableFont_wght.ttf);
}
html,
body {
    height: 100%;
    width: 100%;
}
html {
    font-size: 10px;
}
.d_none {
    display: none !important;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    padding: 0rem 6rem;
    background-color: #082029;
    min-height: 12rem;

    .headerimage {
        height: 6rem;
        width: auto;
    }
}
#main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 6rem 12rem;
    background-color: #05171e;
    color: white;

    h1 {
        font-family: raleway;
        font-size: 5.4rem;
        margin-bottom: 4rem;
    }
    #template_container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
    .mainimage {
        width: 20rem;
        height: 20rem;
        border-radius: 1.5rem;
        object-fit: cover;
    }
    .mainimage:hover {
        filter: drop-shadow(0rem 0rem 0.8rem #29718d);
    }
    a {
        display: flex;
        width: 20rem;
        height: 20rem;
        border-radius: 1.5rem;
    }
}
#popupimage {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #05171ef5;
    width: 400px;
    height: 550px;
    padding: 30px 30px;
    border-radius: 20px;
    border: solid 6px rgb(64, 0, 255);

    .child1 {
        display: flex;
        justify-content: center;
        font-size: 24px;
    }
    .child2 {
        display: flex;
        justify-content: center;
    }
    .child2image {
        width: 350px;
        height: 350px;
        border-radius: 15px;
        object-fit: cover;
    }

    .child3 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 20px;
    }
    span {
        text-align: center;
        font-size: 24px;
    }
    .leftright {
        width: 40px;
        height: 40px;
    }
    .leftright:hover {
        filter: drop-shadow(0rem 0rem 0.8rem #000000);
    }
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 6rem;
    background-color: #082029;
    min-height: 16rem;
    img {
        height: 4rem;
        width: auto;
        border-radius: 50px;
    }

    .icons {
        display: flex;
        gap: 1.6rem;
        a {
            display: flex;
            border-radius: 50px;
            height: 4rem;
            width: 4rem;
        }
    }
}
/* @media (max-width: 915px) {
        #main {
            padding: 3rem 6rem;
            h1 {
                font-size: 4.6rem;
            }
        }
    }
    @media (max-width: 696px) {
        header {
            min-height: 8rem;
            img {
                height: 4rem;
            }
        }
        #main {
            h1 {
                font-size: 3.6rem;
            }
        }
        footer {
            min-height: 12rem;
            img {
                height: 4rem;
            }
        }
    }
    @media (max-width: 585px) {
        #main {
            padding: 3rem;
            h1 {
                font-size: 2.6rem;
            }
        }
    }
    @media (max-width: 492px) {
        #main {
            padding: 3rem 1.6rem;
            #template_container {
                gap: 2rem;
                img {
                    width: 25rem;
                    height: 25rem;
                }
                a {
                    width: 25rem;
                    height: 25rem;
                }
            }
        }
        footer {
            padding: 1.6rem;
        }
    }
    @media (max-width: 400px) {
        #main {
            h1 {
                font-size: 2.2rem;
                margin-bottom: 3rem;
            }
        }
    }
    @media (max-width: 370px) {
        #main {
            #template_container {
                gap: 2rem;
                img {
                    width: 20rem;
                    height: 20rem;
                }
                a {
                    width: 20rem;
                    height: 20rem;
                }
            }
        }
    }
} */
